body {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  margin-bottom: 3%;
}

hr {
  width: 95%;
  border-bottom: 2px solid white;
  border-radius: 3px;
}

.container {
  width: 80%;
  margin-top: 3%;
  position: relative;
}

.head-shot {
  text-align: center;
}

.hidden-card {
  display: none;
}

.main-card {
  display: flex;
  justify-content: flex-start;
  background-color:#050942;
  transition: 1s ease-out;
  flex-grow: 0 3 auto;
}

.main-card-head-shot {
  text-align: center;
}

.main-card-head-shot img{
  width: 430px;
  height: 400px;
  margin: 30px;
}

.head-shot img {
  width: 95%;
  height: 25em;
  margin-top: 3em;
  padding: 0 5px 0 5px;
}

.main-card-content {
  color: white;
  margin: 3%;
  overflow: hidden;
  overflow: auto;
}

.member-card {
  background-color: #050942;
  height: 50em;
  cursor: pointer;
  display: flexbox;
  align-content: left;
  width: 30%;
  margin: 20px;
  overflow: hidden;
  transition: 1s ease-out;
}

.profile-name {
  margin-left: 4%;
}

.profile-title {
  margin-left: 4%;
}

.profile-text {
  margin: 4%;
  padding-bottom: 2%;
  position: relative;
}

.closebtn {
  display: inline;
  position: relative;
  justify-self: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
