* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333a45;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

hr {
  width: 95%;
}

.wrapper {
  margin: 5em auto;
  max-width: 1000px;
  /* background-color: #fff; */
  /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06); */
}

.header {
  padding: 30px 30px 0;
  text-align: center;
}

.header__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.1;
  color: white;
}

.cards {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
}

.card {
  margin: 15px;
  width: calc((100% / 3) - 30px);
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 991px) {
  .card {
    width: calc((100% / 2) - 30px);
  }
}
@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}
.card:hover .card__inner {
  /* background-color: #1abc9c; */
  transform: scale(1.05);
}
.card__inner {
  width: 100%;
  height: 19em;
  padding: 30px;
  position: relative;
  cursor: pointer;
  background-color:rgba(0, 0, 32, 0.8);
  color: #eceef1;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.card__inner:after {
  transition: all 0.3s ease-in-out;
}
.card__inner .fa {
  width: 100%;
  margin-top: 0.25em;
  font-size: 1.5em;
}

.card__expander {
  transition: all 0.2s ease-in-out;
  background-color: rgba(0, 0, 32, 0.8);
  /* width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase; */
  color: #eceef1;
  font-size: 1em;
  line-height: 1.5;
}

.text-container {
  padding: 2%;
}

.card__expander .fa {
  font-size: 1.5em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.card__expander .fa:hover {
  opacity: 0.9;
}
.card.is-collapsed .card__inner:after {
  content: "";
  opacity: 0;
}
.card.is-collapsed .card__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}

/* .card.is-expanded .card__inner {
  background-color: #1abc9c;
} */

.card.is-expanded .card__inner:after {
  content: "";
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgba(0, 0, 32, 0.8);
}
.card.is-expanded .card__inner .fa:before {
  content: "\f115";
}
.card.is-expanded .card__expander {
  max-height: 1000px;
  min-height: 200px;
  overflow: visible;
  margin-top: 30px;
  opacity: 1;
}
.card.is-expanded:hover .card__inner {
  transform: scale(1);
}
.card.is-inactive .card__inner {
  pointer-events: none;
  opacity: 0.5;
}
.card.is-inactive:hover .card__inner {
  background-color: #949fb0;
  transform: scale(1);
}
@media screen and (min-width: 992px) {
  .card:nth-of-type(3n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }
  .card:nth-of-type(3n+3) .card__expander {
    margin-left: calc(-200% - 60px);
  }
  .card:nth-of-type(3n+4) {
    clear: left;
  }
  .card__expander {
    width: calc(300% + 60px);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .card:nth-of-type(2n+2) .card__expander {
    margin-left: calc(-100% - 30px);
  }
  .card:nth-of-type(2n+3) {
    clear: left;
  }
  .card__expander {
    width: calc(200% + 30px);
  }
}

.head-shot img {
  width: 100%;
}

.profile-title {
  font-size: 14px;
}

.profile-name {
  font-size: 20px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  display: flex;
  background-color:rgba(0, 0, 32, 0.9);
  color: white;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 110px;
  right: 205px;
  display: inline-block;
}

.close:hover,
.close:focus {
  color: #495464;
  text-decoration: none;
  cursor: pointer;
}

.modal-head-shot img {
  width: 300px;
}

.modal-profile-name {
  font-size: 2em;
  margin-left: 3%;
}

.modal-profile-title {
  margin-left: 3%;
  font-size: 1.5em;
}

.head-shot-wrapper {
  margin-top: 2%;
  padding: 20px;
}

.modal-text-container {
  padding: 0 40px 20px;
  justify-self: left;
  line-height: 1.5;
}

.modal-content, .i-container {
  display: flex;
  justify-content: flex-end;
}